{{"<!-- begin sidebar partial //-->" | safeHTML}}

	<aside>
		<header>
			<nav>
				<div id="sitetitle">
				<h1><a href="/">View&nbsp;from<span class="hidden">&nbsp;&nbsp;<br /></span> <span class="ochre">ASCRAEUS</span></a></h1>
				</div>
				<p>
				[<a href="/page/about"
				class="metatag">about</a>] 
				[<a href="/article" class="metatag">posts</a>]
				[<a href="/page/tbr" class="metatag">∞tbr</a>] 
				[<a href="/page/feeds"
				class="metatag">feeds</a>]
			        <a id="switch" class="dark" href="#" onclick="clickSwitch" title="Change Theme">
				<svg class="icon icon-contrast" viewbox="0,0,32,32" width="20" height="20">
				<path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM4 16c0-6.627 5.373-12 12-12v24c-6.627 0-12-5.373-12-12z" fill="#888"></path>
				</svg>
				</a>
                        <script>
                            toggle = document.getElementById('switch');
                            function doSwitch() {
                                    if (sessionStorage.getItem('theme') == null) {
                                        sessionStorage.setItem('theme', 'dark');
                                    }

                                    if (sessionStorage.getItem('theme') == 'light') {
                                        document.getElementById('theme').href='/css/light.min.css';
                                        toggle.className = 'light';
                                        sessionStorage.setItem('theme', 'light');
                                    } else {
                                        toggle.className = 'dark';
                                    }
                                }
                                toggle.addEventListener('click', function () {
                                    if (sessionStorage.getItem('theme') == 'dark' ) {
                                        document.getElementById('theme').href='/css/light.min.css';
                                        toggle.className = 'light';
                                        sessionStorage.setItem('theme', 'light');
                                    } else {
                                        document.getElementById('theme').href='';
                                        toggle.className = 'dark';
                                        sessionStorage.setItem('theme', 'dark');
                                    } 
                                });
                            </script>
                </p>
			</nav>
		</header>
	</aside>

