{{"<!-- begin sidebar partial //-->" | safeHTML}}

	<aside>
		<header>
			<nav>
				<div id="sitetitle">
				<h1><a href="/">View&nbsp;from<span class="hidden">&nbsp;&nbsp;<br /></span> <span class="ochre">ASCRAEUS</span></a></h1>
				</div>
				<p>
				[<a href="/page/about"
				class="metatag">about</a>] 
				[<a href="/article" class="metatag">posts</a>]
				[<a href="/page/tbr" class="metatag">∞tbr</a>] 
				[<a href="/page/feeds"
				class="metatag">feeds</a>]
				</p>
                    <div class="mode-link">
                        <a id="switch" class="dark"
		    href="#" onclick="clickSwitch">
                            <svg class="icon icon-contrast">
                                <use xlink:href="/svg/symbol-defs.svg#icon-contrast">
                                </use>
                            </svg>
                        </a>
                    </div> 
                        <script>
                            toggle = document.getElementById('switch');
                            function doSwitch() {
                                    if (sessionStorage.getItem('theme') == null) {
                                        sessionStorage.setItem('theme', 'dark');
                                    }

                                    if (sessionStorage.getItem('theme') == 'light') {
                                        document.getElementById('theme').href='/css/light.min.css';
                                        toggle.className = 'light';
                                        sessionStorage.setItem('theme', 'light');
                                    } else {
                                        toggle.className = 'dark';
                                    }
                                }
                                toggle.addEventListener('click', function () {
                                    if (sessionStorage.getItem('theme') == 'dark' ) {
                                        document.getElementById('theme').href='/css/light.min.css';
                                        toggle.className = 'light';
                                        sessionStorage.setItem('theme', 'light');
                                    } else {
                                        document.getElementById('theme').href='';
                                        toggle.className = 'dark';
                                        sessionStorage.setItem('theme', 'dark');
                                    } 
                                });
                            </script>
			</nav>
		</header>
	</aside>

